h1 = account.name

#chart data-reports="#{@reports.map { |r| { ym: r.date.strftime("%Y-%m"),  statement_total: r.statement_total } }.to_json}"

== render partial: "list"

javascript:
  $(function() {
    Morris.Line({
      element: "chart",
      data: $("#chart").data("reports"),
      xkey: "ym",
      ykeys: ["statement_total"],
      labels: ["Statement Total"],
      xLabels: "month"
    });
  });

